{% extends "base.html" %}
{% load static %}

{% block messages %}
{% if messages %}

{% for i in messages %}
<div {% if i.messages %} class = 'alert alert-{{i.tags}} alert-dismissible fade show' {% endif %}>
     <strong>{{i}}</strong>
     <button type="button" class="close" data-dismiss="alert" area-label="Close">
        <span area-hidden="true">&times;</span>
     </button>
</div>
{% endfor %}
{% endif %}
{% endblock messages%}

{% block content %}
<div class="col-sm-15">
    <h3 class="text-white my-5">Dashboard Page</h3>
    <a href="{% url 'addpage' %}" class="btn btn-info">Add Post</a>
    <h4 class="text-center alert alert-info mt-3">Information Table</h4>

    {% if posts %}
    <table class="table table-hover bg-white">
        <thead>
            <tr>

                <th scope="col" style="width: 5px;">ID</th>
                <th scope="col" style="width: 10px;">TItle</th>
                <th scope="col" style="width: 52px;">Description</th>
                <th scope="col" style="width: 20px;">Action</th>

            </tr>
        </thead>
        <tbody>
            {% for i in posts %}
            <tr>
                <td scope="row">{{i.id}}</td>
                <td>{{i.title}}</td>
                <td>{{i.description}}</td>
                <td >
                    <a href="" class="btn btn-warning btn-sm">Update</a>
                    <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                </td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% endif %}
</div>
{% endblock content %}